.html
{
	background-color: #EFDBC4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1604.65px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -232px;
}

#pu69-4
{
	width: 0.01px;
	margin-left: 339px;
	position: relative;
}

#u69-4
{
	z-index: 2;
	margin-right: -10000px;
	left: 58px;
}

#u74-4
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 170px;
}

#u80
{
	z-index: 150;
	width: 1159px;
	height: 61px;
	top: 0px;
	left: -100px;
}

#u744-4
{
	z-index: 155;
	width: 114px;
	min-height: 33px;
	top: 14px;
	left: 6px;
}

#u1031-4
{
	z-index: 151;
	width: 110px;
	min-height: 27px;
	top: 14px;
	left: 728px;
}

#david
{
	margin-left: 469px;
	margin-top: 51px;
}

#slideshowu81
{
	z-index: 10;
	width: 0.01px;
	height: 459px;
	margin-left: 20px;
	margin-top: 69px;
}

#u119popup
{
	z-index: 11;
}

#u124
{
	z-index: 12;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u374
{
	z-index: 14;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u383
{
	z-index: 16;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u392
{
	z-index: 18;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u401
{
	z-index: 20;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u410
{
	z-index: 22;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u419
{
	z-index: 24;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u428
{
	z-index: 26;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u437
{
	z-index: 28;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u446
{
	z-index: 30;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u455
{
	z-index: 32;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u464
{
	z-index: 34;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u473
{
	z-index: 36;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u482
{
	z-index: 38;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u491
{
	z-index: 40;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u500
{
	z-index: 42;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u509
{
	z-index: 44;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u518
{
	z-index: 46;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u527
{
	z-index: 48;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u536
{
	z-index: 50;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u545
{
	z-index: 52;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u554
{
	z-index: 54;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u563
{
	z-index: 56;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u572
{
	z-index: 58;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u581
{
	z-index: 60;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u590
{
	z-index: 62;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u599
{
	z-index: 64;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u608
{
	z-index: 66;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u617
{
	z-index: 68;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u626
{
	z-index: 70;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u635
{
	z-index: 72;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u644
{
	z-index: 74;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u653
{
	z-index: 76;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u662
{
	z-index: 78;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u671
{
	z-index: 80;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u680
{
	z-index: 82;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u689
{
	z-index: 84;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u698
{
	z-index: 86;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u707
{
	z-index: 88;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u716
{
	z-index: 90;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u725
{
	z-index: 92;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u734
{
	z-index: 94;
	width: 920px;
	height: 459px;
	margin-right: -10000px;
}

#u119,#u124_clip,#u374_clip,#u383_clip,#u392_clip,#u401_clip,#u410_clip,#u419_clip,#u428_clip,#u437_clip,#u446_clip,#u455_clip,#u464_clip,#u473_clip,#u482_clip,#u491_clip,#u500_clip,#u509_clip,#u518_clip,#u527_clip,#u536_clip,#u545_clip,#u554_clip,#u563_clip,#u572_clip,#u581_clip,#u590_clip,#u599_clip,#u608_clip,#u617_clip,#u626_clip,#u635_clip,#u644_clip,#u653_clip,#u662_clip,#u671_clip,#u680_clip,#u689_clip,#u698_clip,#u707_clip,#u716_clip,#u725_clip,#u734_clip
{
	width: 920px;
	height: 459px;
}

#u124_img,#u374_img,#u383_img,#u392_img,#u401_img,#u410_img,#u419_img,#u428_img,#u437_img,#u446_img,#u455_img,#u464_img,#u473_img,#u482_img,#u491_img,#u500_img,#u509_img,#u518_img,#u527_img,#u536_img,#u545_img,#u554_img,#u563_img,#u572_img,#u581_img,#u590_img,#u599_img,#u608_img,#u617_img,#u626_img,#u635_img,#u644_img,#u653_img,#u662_img,#u671_img,#u680_img,#u689_img,#u698_img,#u707_img,#u716_img,#u725_img,#u734_img
{
	margin-top: -75px;
	margin-bottom: -75px;
}

#u126-4popup
{
	z-index: 96;
}

#u126-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 213px;
}

#u116-4popup
{
	z-index: 100;
}

#u116-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 213px;
	left: 895px;
}

#u746-4
{
	z-index: 105;
	width: 315px;
	min-height: 70px;
	margin-left: 618px;
	top: -80px;
	margin-bottom: -72px;
}

#tony
{
	margin-left: 451px;
	margin-top: 65px;
}

#slideshowu747
{
	z-index: 109;
	width: 0.01px;
	height: 919px;
	margin-left: 20px;
	margin-top: 82px;
}

#u785popup
{
	z-index: 110;
}

#u790
{
	z-index: 111;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u900
{
	z-index: 113;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u900_img
{
	margin-top: -235px;
	margin-bottom: -234px;
}

#u909
{
	z-index: 115;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u918
{
	z-index: 117;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u909_img,#u918_img
{
	margin-left: -234px;
	margin-right: -233px;
}

#u927
{
	z-index: 119;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u936
{
	z-index: 121;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u936_img
{
	margin-top: -340px;
	margin-bottom: -339px;
}

#u945
{
	z-index: 123;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u954
{
	z-index: 125;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u963
{
	z-index: 127;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u972
{
	z-index: 129;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u981
{
	z-index: 131;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u990
{
	z-index: 133;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u999
{
	z-index: 135;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u1008
{
	z-index: 137;
	width: 920px;
	height: 919px;
	margin-right: -10000px;
}

#u785,#u790_clip,#u900_clip,#u909_clip,#u918_clip,#u927_clip,#u936_clip,#u945_clip,#u954_clip,#u963_clip,#u972_clip,#u981_clip,#u990_clip,#u999_clip,#u1008_clip
{
	width: 920px;
	height: 919px;
}

#u790_img,#u927_img,#u945_img,#u954_img,#u963_img,#u972_img,#u981_img,#u990_img,#u999_img,#u1008_img
{
	margin-top: -235px;
	margin-bottom: -235px;
}

#u792-4popup
{
	z-index: 139;
}

#u792-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 369px;
}

#u782-4popup
{
	z-index: 143;
}

#u782-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 369px;
	left: 890px;
}

#u1017-3
{
	z-index: 147;
	width: 5px;
	margin-left: 991px;
	top: -517px;
	margin-bottom: -17px;
}

#u1032-4
{
	z-index: 159;
	width: 312px;
	min-height: 68px;
	margin-left: 609px;
	top: -92px;
	margin-bottom: -68px;
}

body
{
	padding-top: 243px;
	padding-bottom: 88px;
}

#page .verticalspacer
{
	clear: both;
}

